body {
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    background: rgba(0, 50, 0, 0.5);
    color: white;
    font-family: 'Helvetica Neue';
}

.main-section {
  margin: 50px;
  text-align: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-one {
  margin: 10px;
  font-size: 65px;
  width: 100%;
}

.fight-scene {
  display: flex;
}
.sub-header-one {
  margin: -3px;
}

.player-one, .player-two {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 100vh;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 100px;
  width: 100px;
  display: flex;

}
.image-body-one, .image-body-two {
  box-shadow: inset 0 0 0 0 #fff;
  color: #fff;
  font-size: 17px;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 75px;
  padding:10px;
  text-align: center;
  width: 40%;
  height: 30%;
  display: flex;
  justify-content: center;

}

.image-body-one:hover, .image-body-two:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}

.image-body-choice, .image-body-choice-two {
  margin-top: 75px;
  padding:10px;
  text-align: center;
  width: 40%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
button {
  border-radius: 4px;
  background-color: #996633;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

.emoji {
  font-size: 20px;
}

.hidden {
  display: none;
}
